HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Log files ###
*.log

# Firebase Admin JSON (만약 레포 내부에 둘 경우)
**/firebase-admin.json
**/service-account*.json
spy.log
spy.log
*.log
python-pdf-download/__pycache__
python-pdf-download/component/__pycache__
/front-end/android/app/google-services.json
